@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');

#logo-text {
    font-family: "Tangerine", sans-serif;
    font-size: 2rem;
    color: palevioletred;
}

#logo-green {
    font-family: "Tangerine", sans-serif;
    font-size: 2rem;
}