@using GymApp.ViewModels
@model UserDetailViewModel

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/users"> GymGoers</a>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <section class="bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="media">
                        <img alt="Image" src="@Model.ProfileImageUrl" class="mr-md-5 avatar avatar-xlg">
                        <div class="media-body">
                            <div class="mb-3">
                                <h1 class="h2 mb-2">@Model.UserName</h1>
                                <span class="text-muted"><i class="icon-location"></i>@Model.Location</span>
                            </div>
                            <p class="text-muted">Years of Experience: @Model.YearsOfExperience</p>
                            <p>
                                I lift stuff up and down; hard.
                            </p>
                            <div>
                                <button class="btn btn-outline-primary" data-toggle="button"><i class="icon-add-user"></i> Follow</button>
                                <button class="btn btn-outline-primary">
                                    <i class="icon-mail"></i>
                                </button>
                                <div class="dropdown d-inline-block">
                                    <button class="btn btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon-dots-three-horizontal"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">
                                        <a class="dropdown-item" href="#">Add to group</a>
                                        <a class="dropdown-item" href="#">Share Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Block</a>
                                        <a class="dropdown-item" href="#">Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="workoutProgram-tab" data-toggle="tab" href="#workoutProgram" role="tab" aria-controls="races" aria-selected="true">Workout Program</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="groups-tab" data-toggle="tab" href="#gyms" role="tab" aria-controls="gyms" aria-selected="false">Gyms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
                            </li>
                        </ul>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </div>
    </section>
    <section class="flush-with-above">
        <div class="tab-content">
            <div class="tab-pane fade active show" id="workoutProgram" role="tabpanel" aria-labelledby="workoutProgram-tab">
                <div class="container">
                    <ul class="row feature-list feature-list-sm">                     
                        <li class="col-12 col-md-6 col-lg-4">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-product-sidekick.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#">
                                        <h4 class="card-title">Sidekick</h4>
                                        <p class="card-text text-body">Holistic fitness tracking</p>
                                    </a>
                                </div>
                                <div class="card-footer card-footer-borderless d-flex justify-content-between">
                                    <div class="text-small">
                                        <ul class="list-inline">
                                            <li class="list-inline-item"><i class="icon-heart mr-1"></i> 221</li>
                                            <li class="list-inline-item"><i class="icon-message mr-1"></i> 14</li>
                                        </ul>
                                    </div>
                                    <div class="dropup">
                                        <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="SidekickButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="icon-dots-three-horizontal"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="SidekickButton">
                                            <a class="dropdown-item" href="#">Save</a>
                                            <a class="dropdown-item" href="#">Share</a>
                                            <a class="dropdown-item" href="#">Comment</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Report</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--end of col-->

                    </ul>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>

            <div class="tab-pane fade" id="gyms" role="tabpanel" aria-labelledby="groups-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-group-1.png" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#" class="d-block mb-2">
                                        <h4>Pitstop</h4>
                                    </a>
                                    <span>A lightweight javascript library for scrolling</span>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><i class="icon-users">&nbsp;</i> 18 members</li>
                                    <li class="list-group-item"><i class="icon-folder">&nbsp;</i> 12 projects</li>
                                </ul>
                                <div class="card-footer d-flex align-items-center">
                                    <div>
                                        <ul class="list-inline list-spacing-sm">

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-5.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-4.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-5.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-4.jpg">
                                            </li>
                                        </ul>
                                    </div>
                                    <span class="text-small ml-2">+ 14 more</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/graphic-group-2.png" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#" class="d-block mb-2">
                                        <h4>Bench</h4>
                                    </a>
                                    <span>Account management for financial professionals</span>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><i class="icon-users">&nbsp;</i> 9 members</li>
                                    <li class="list-group-item"><i class="icon-folder">&nbsp;</i> 6 projects</li>
                                </ul>
                                <div class="card-footer d-flex align-items-center">
                                    <div>
                                        <ul class="list-inline list-spacing-sm">

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-5.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-5.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-4.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-5.jpg">
                                            </li>

                                        </ul>
                                    </div>
                                    <span class="text-small ml-2">+ 5 more</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-4 d-flex">
                            <div class="card">
                                <a href="#">
                                    <img class="card-img-top" src="/img/photo-group-3.jpg" alt="Card image cap">
                                </a>
                                <div class="card-body">
                                    <a href="#" class="d-block mb-2">
                                        <h4>Seattle</h4>
                                    </a>
                                    <span>Creative folk hailing from The Windy City</span>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><i class="icon-users">&nbsp;</i> 42 members</li>
                                    <li class="list-group-item"><i class="icon-folder">&nbsp;</i> 7 projects</li>
                                </ul>
                                <div class="card-footer d-flex align-items-center">
                                    <div>
                                        <ul class="list-inline list-spacing-sm">

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-4.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-2.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-male-4.jpg">
                                            </li>

                                            <li class="list-inline-item">
                                                <img alt="Group member" class="avatar avatar-xs" src="/img/avatar-female-5.jpg">
                                            </li>

                                        </ul>
                                    </div>
                                    <span class="text-small ml-2">+ 38 more</span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>

            <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                <div class="container">
                    <div class="row">

                        <div class="col-12 col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="media">
                                        <a href="#" class="mr-3">
                                            <img alt="Daniel Cameron" src="/img/avatar-male-1.jpg" class="avatar">
                                        </a>
                                        <div class="media-body">
                                            <div>
                                                <a href="#" class="h5 m-0">
                                                    <h5>Daniel Cameron</h5>
                                                </a>
                                                <small class="text-muted"><i class="icon-location"></i> Galway, Ireland</small>
                                            </div>
                                            <ul class="list-inline">

                                                <li class="list-inline-item text-small">196 Followers</li>

                                                <li class="list-inline-item text-small">186 Following</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <a class="text-small" href="#">cameronman</a>
                                    <button class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow">
                                        <i class="icon-add-user"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- end card -->
                        </div>                          
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
        </div>
    </section>
    <!--end of section-->
    <footer class="footer-short">
        <div class="container">
            <hr>
            <nav class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <img alt="Image" src="/img/logo-gray.svg">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Overview</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Documentation</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Changelog</a>
                        </li>
                    </ul>
                </div>
                <!--end of col-->
                <div class="col-auto text-sm-right">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#"><i class="socicon-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="socicon-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <!--end of col-->
            </nav>
            <!--end of row-->
            <div class="row">
                <div class="col">
                    <small>© 2019 Medium Rare All Rights Reserved</small>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </footer>
</div>